<div class="bubble wavy good">
  <img
    src="{{ 'images/benthic_nakey.svg' | relative_url }}"
    alt="Benthic Logo"
    width="60"
    height="60"
    style="float: right"
    class="bounce"
  />
  <h1>Optional</h1>
  This component is an optional feature in the metaverse_client crate. Projects
  that don't require this can compile with the feature disabled in
  <a
    href="
    https://github.com/benthic-mmo/metaverse_client/blob/7dff92943d2660b118346c77fddcd70b6b436631/crates/core/Cargo.toml#L47"
    >Cargo.toml</a
  >
</div>
